*.class
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.*
!/.gitignore

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/FHCS001a/nbproject/private/
/FHCS001a/build/
/lab1/nbproject/private/
/lab1/build/
/lab2/nbproject/private/
/lab2/build/
/classnotes/sample/nbproject/private/
/classnotes/sample/build/
/lab3/nbproject/private/
/lab3/build/
